/* ---------------index.html------------------ */
* {
    font-family: 'Courier New', Courier, monospace;
    /* background-color: blue; */
}

/* ------------------------------------------- */
h3 {
    color: purple;
}

/* ------------------------------------------- */
h1,
h3 {
    color: #b92b27;
}

/* --------------------------------------------- */

#Login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: darkgray;
}


/*-------------------- Descendant selector------------------- */

/* a {
    color: purple;
    background-color: cadetblue;
} */

/* 
p a {
    color: purple ;
    background-color:cadetblue ;
} */

.post a {
    color: purple;
    background-color: cadetblue;
}

/* nav a {
    color: blue;
    background-color: blanchedalmond;
} */

/* .list a {
    color: blue;
    background-color: blanchedalmond;
} */

/* nav ul  {
    color: #b92b27;
} */

/* 
nav ul li {
    color: rgb(255, 0, 179);
} */

nav ul li a {
    color: #b92b27;
    background-color: yellow;
}


/* -----------------(siblings combinator )------------------ */

p+h3 {
    text-decoration: underline;
}

.upvote+button {

    background-color: cornflowerblue;
}

/* -------------Child combinator------------------------ */

div input{
    background-color: cadetblue;
}


input[type="text"] {

    color: #b92b27;
}

input[type="password"]{

    color: #b92b27;

}

input[type]{

    background-color: grey;
    color: white;
}
 
#myId p {
    background-color: gray;
} 

 /* input[id="myId"] p {
    background-color: #8f6665; 
    color: aliceblue;
}  */

/* ------------------pseudo classes------------------- */

button:hover{
    background-color: #b92b27;
    color:white;
}

h3:hover{
    text-decoration: none;
}

button:active{
    background-color: yellow;
}
.post:active{
    font-weight: bold;
    color: green;
}

input[type="radio"]:checked+label{
    color: #b92b27;
    font-weight: bold;
}

.post:nth-of-type(){
    background-color: aquamarine;
}

.post:nth-of-type(2){
    background-color: aquamarine;
}

.post:nth-of-type(1n){
    background-color: aquamarine;
}
    
    /* ----------Pseudo Elements :: -------------- */

    h1::first-letter{
    color: green;
    }

   p::first-line{
    color: blue;
   } 

 p::selection{
    background-color: yellow;
 } 
 
 /* id  >  class  >  element */